@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
h1 {
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin-left: 100px;
}

.card-title {
  font-family: "Playfair Dispaly", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
  font-weight: 800;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../images/moon.png);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  background-color: #f2f2f2;
  margin-top: 20px;
  border-radius: 15px;
  padding-bottom: 40px;
}

.card {
  border-radius: 15px !important;
  max-height: 500px;
}

.card img {
  border-radius: 15px 15px 0px 0px;
  max-height: 180px;
}

.btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #343a40;
  color: #f2f2f2;
  text-align: center;
  margin-top: 20px;
}

.navbar .navbar-brand {
  font-size: 35px;
  margin-left: 25px;
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .nav-item {
  margin-top: 17px;
}

.navbar .nav-item .nav-link {
  color: #f2f2f2 !important;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.latest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.hero {
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  opacity: 0.7;
  min-width: 100%;
  margin-left: -12px;
  margin-right: -12px;
  border-radius: 15px 15px 0px 0px;
}

.shoe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 194px;
  width: 293px;
}

.specific-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.specific-container img {
  max-width: 500px;
  border-radius: 20px;
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.specific-container h2 {
  margin-bottom: 25px;
}

.specific-container p {
  margin-left: 50px;
}

.specific-container button {
  margin-left: 50px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username,
.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.login-form input {
  border-radius: 10px;
  min-width: 500px;
  height: 40px;
}

.login-form button {
  min-width: 500px;
  border-radius: 10px;
}

.cartItem img {
  max-width: 100px;
  max-height: 100px;
  border: solid 1px;
}

.cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 250px;
  margin-bottom: 20px;
}

.cartItemInfo {
  margin-left: 30px;
}

.clear-storage {
  margin-left: 200px;
  margin-top: 20px;
}

.addShoe {
  margin-left: 150px;
}

.addShoeInputs {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 50px;
  margin-right: 200px;
}

.addShoeInputs button {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */