@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
h1 {
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin-left: 100px;
}

h2, h3, h4 {
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 23px !important;
}

.card-title {
  font-family: "Playfair Dispaly", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
  font-weight: 800;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../images/moon.png);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  background-color: #f2f2f2;
  margin-top: 20px;
  border-radius: 15px;
  padding-bottom: 40px;
}

.card {
  border-radius: 15px !important;
  max-height: 500px;
}

.card img {
  border-radius: 15px 15px 0px 0px;
  max-height: 180px;
}

.btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #343a40;
  color: #f2f2f2;
  text-align: center;
  margin-top: 20px;
}

.navbar .navbar-brand {
  font-size: 35px;
  margin-left: 25px;
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .nav-item {
  margin-top: 17px;
}

.navbar .nav-item .nav-link {
  color: #f2f2f2 !important;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.latest-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.hero {
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 102%;
  margin-left: -12px;
  margin-right: -12px;
  border-radius: 15px 15px 0px 0px;
}

@media (min-width: 800px) {
  .latest-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .hero {
    background-position-y: -100px;
  }
}

@media (min-width: 992px) {
  .hero {
    background-position-y: -150px;
  }
}

@media (min-width: 1000px) {
  .latest-container {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-position-y: -200px;
  }
}

.shoe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 800px) {
  .shoe-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1000px) {
  .shoe-container {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .search {
    margin-left: 194px;
  }
}

.search {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 21%;
  width: 293px;
}

.specific-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specific-container img {
  max-width: 300px;
  border-radius: 20px;
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.specific-container h2 {
  margin-bottom: 25px;
}

.specific-container p {
  margin-left: 50px;
  max-width: 500px;
}

.specific-container button {
  margin-left: 50px;
}

@media (min-width: 600px) {
  .specific-container img {
    max-width: 500px;
  }
}

@media (min-width: 1000px) {
  .specific-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username,
.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.login-form input {
  border-radius: 10px;
  min-width: 500px;
  height: 40px;
}

.login-form button {
  min-width: 500px;
  border-radius: 10px;
}

.cartItem img {
  max-width: 100px;
  max-height: 100px;
  border: solid 1px;
}

.cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart {
  text-align: center;
  margin-bottom: 20px;
  min-height: 500px;
}

.cartItemInfo {
  margin-left: 30px;
}

.clear-storage {
  margin-left: 80px;
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
}

@media (min-width: 800px) {
  .cartItem {
    margin-left: 200px;
  }
  .clear-storage {
    margin-left: 200px;
  }
}

@media (min-width: 1000px) {
  .cartItem {
    margin-left: 400px;
  }
  .clear-storage {
    margin-left: 400px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h2 {
  text-align: center;
  margin-top: 20px;
}

.adminOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logout {
  margin-top: 30px;
  margin-right: 100px;
  height: 60px;
  width: 100px;
  border-radius: 10px;
}

form {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form button {
  margin-top: 20px;
}

.title,
.price,
.description,
.image,
.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.admin input {
  border-radius: 10px;
  min-width: 300px;
  height: 40px;
}

.admin textarea {
  border-radius: 10px;
  min-width: 300px;
  height: 200px;
}

.admin button {
  min-width: 300px;
  border-radius: 10px;
}

.image,
.featured {
  max-width: 250px;
}

.featured {
  gap: 5px;
}

.clicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.allShoes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 425px) {
  #logout {
    height: 30px;
  }
}

@media (min-width: 765px) {
  form {
    min-width: 500px;
  }
  .admin input,
  .admin textarea,
  .admin button {
    min-width: 500px;
  }
  .allShoes {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1000px) {
  form {
    min-width: 700px;
  }
  .allShoes {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

.title,
.price,
.description,
.featured,
.id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.edit-form input {
  border-radius: 10px;
  min-width: 300px;
  height: 40px;
}

.edit-form textarea {
  border-radius: 10px;
  min-width: 300px;
  height: 200px;
}

.edit-form button {
  width: 150px;
  border-radius: 10px;
}

@media (min-width: 765px) {
  .edit-form input,
  .edit-form textarea {
    min-width: 500px;
  }
  .edit-form button {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */