.addShoe {
    margin-left: 150px;
}

.addShoeInputs {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 50px;
    margin-right: 200px;
}

.addShoeInputs button {
    margin-top: 20px;
}