.navbar .navbar-brand {
    font-size: 35px;
    margin-left: 25px;
    font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif
}

.navbar .nav-item {
    margin-top: 17px;
}

.navbar .navbar-collapse {
    flex-grow: 0;
}