.specific-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.specific-container img {
    max-width: 500px;
    border-radius: 20px;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.specific-container h2 {
    margin-bottom: 25px;
}