.specific-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.specific-container img {
    max-width: 300px;
    border-radius: 20px;
    max-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
}

.specific-container h2 {
    margin-bottom: 25px;
}

.specific-container p {
     margin-left: 50px;
     max-width: 500px;
}

.specific-container button {
    margin-left: 50px;
}

@media (min-width:600px) {
    .specific-container img {
        max-width: 500px;
    } 
 }

@media (min-width:1000px) {
   .specific-container {
       flex-direction: row-reverse;
   } 
}